
@font-face {
  font-family: 'GodoM';
  src: url('GodoM.eot?#iefix') format('embedded-opentype'),  url('GodoM.woff') format('woff'), url('GodoM.ttf')  format('truetype'), url('GodoM.svg#GodoM') format('svg');
  font-weight: normal;
  font-style: normal;
}
